<?php
foreach ($this->getMyProducts() as $myProduct):?>
    <div class="kms_product">
        <div class="kms_product-name">Название: <?php echo $myProduct->getName()?></div>
        <div class="kms_product-cost">Стоимость: <?php echo number_format($myProduct->getPrice(), 2)?></div>
    </div>
<?php endforeach;?>
